<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Hello Boss </h1>
<h3> Please choose action</h3>
<table>
<div>
<!--    Change table NameBrand-->
     <tr>
        <td>Change table "NameBrand"</td>
         <td>
              <input type="button" value="for change click here">
         </td>
    </tr>
<!--    Change table Sizes-->
    <tr>
        <td>Change table "Sizes"</td>
         <td>
              <input type="button" value="for change click here">
         </td>
    </tr>
<!--    Change table Colours- -->
    <tr>
        <td>Change table "Colours"</td>
         <td>
              <input type="button" value="for change click here">
         </td>
    </tr>
    </table>
</div>

</body>
</html>